<div>
    <h1 >Sobre Comics</h1>
    <hr class="my-4">
    <p >About Comics ha estado publicando desde 1999 y ha sobrevivido en un campo de grandes lanzamientos y grandes fracasos al ser pequeño, delgado y creativo. About, una empresa unipersonal fundada y aún dirigida por el creador de cómics Nat Gertler, ha publicado una amplia gama de materiales, incluidos no solo cómics (tanto material original como reimpresiones clásicas) y material para creadores de cómics (incluidos libros de instrucciones y The Blank Comic Book ), pero también material no cómico.
About Comics también brinda "servicios de historietas", manejando casi cualquier parte del proceso de creación de historietas que un cliente pueda necesitar, ya sea ubicando creadores para un proyecto, preparando material de reimpresión especial o incluso creando historietas originales completas para satisfacer una necesidad especial.</p>
  <img  src="assets/img/abot.jpg" alt="">
</div>
