<div class="row animated fadeIn fast" *ngIf="indice == -1">
    <div class="co-md-12">
        <div class="alert alert-info" role="alert">
             <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Error de busqueda</h1>
                  <p class="lead">No existen resultados de {{nombreh}}</p>
                </div>
              </div>
        </div>
    </div>
</div>

<app-unheroe *ngIf="indice != -1" [heroe]='miheroe'></app-unheroe>
